@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.categoryHeaderContainer .categoryHeader {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    position: relative;
}

.categoryHeaderContainer {
    width: fit-content;
    position: relative;
}

.categoryHeaderContainer::before {
    content: "";
    background: #F9C316;
    position: absolute;
    top: 32px;
    right: 0px;
    bottom: 32px;
    left: 0px;
}