@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --yellow: #FECD06;
}

.mainContent {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Tsukimi Rounded', sans-serif;
}

.menu {
  font-family: 'Bangers', cursive;
  font-size: 90px;
  border-bottom: 8px solid var(--yellow);
  border-radius: 15px;
}

footer {
  background: #393939;
}

footer, footer a {
  color: #FFF6E3 !important;
}

footer .brand {
  font-size: 96px;
  font-family: 'Bebas Neue', sans-serif;
}

.spicePill {
  border-radius: 12px 0px;
  padding: 4px 8px;
  font-weight: 700;
  margin-left: 10px;
}

.mild {
  background: var(--yellow);
}

.spicy {
  background: #EB3E38;
  color: white;
}

.logoHeader {
  height: 40vh;
  background: url("/public/images/logoBG.svg");
}

.logoText {
  max-height: 70%;
}