@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400;700&display=swap');

.mainContent {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Tsukimi Rounded', sans-serif;
}

footer {
  background: #393939;
  color: #FFF6E3;
}

footer .brand {
  font-size: 96px;
  font-family: 'Bebas Neue', sans-serif;
}

.spicePill {
  border-radius: 12px 0px;
  padding: 4px 8px;
  font-weight: 700;
  margin-left: 10px;
}

.mild {
  background: #FECD06;
}

.spicy {
  background: #EB3E38;
  color: white;
}