@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto+Slab&family=Tsukimi+Rounded:wght@400;700&display=swap');

:root {
  --yellow: #FECD06;
}

.mainContent {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Tsukimi Rounded', sans-serif;
}

.text-bangers {
  font-family: 'Bangers', cursive;
}



.viewMenuBtn {
  background: var(--yellow);
  border-radius: 15px;
}

.menu {
  font-size: 90px;
  border-bottom: 8px solid var(--yellow);
  border-radius: 15px;
}



.spicePill {
  border-radius: 12px 0px;
  padding: 4px 8px;
  font-weight: 700;
  margin-left: 10px;
}

.mild {
  background: var(--yellow);
}

.spicy {
  background: #EB3E38;
  color: white;
}

.logoHeader {
  min-width: 100vw;
  min-height: 60vh;
  background: url("/public/images/logoBG.svg");
  border: 5px solid var(--yellow);
}

header .reserve {
  font-family: 'Bebas Neue', sans-serif;
  border-radius: 15px;
}

.logoText {
  max-height: 50%;
}

.aboutus {
  background-color: #131313;
  color: #E4DED2;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.aboutus .header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
  line-height: 70px;
}


.aboutus img {
  height: 370px;
  object-fit: cover;
  width: 100%;
  opacity: 0.8;
}